{%load static%}
{% load crispy_forms_tags %}
{%load comment_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page title</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'users/profilestyle.css'%}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>   
<div class="container-fluid" style="margin-top: 20px;">
        <h1 class="text-center" style="background:#4267B2;  color: white">Slide</h1>
</div>
<div class="container-fluid">
<div class="profile-wrapper">
    <div class="profile-section-user">
        <div class="profile-cover-img"><img src="{{user.profile.background_image.url}}" alt=""></div>
        <div class="profile-info-brief p-3"><img class="border border-white img-fluid user-profile-avatar" src="{{user.profile.profile_image.url}}" alt="">
            <div class="text-center">
                <h5 class="text-uppercase mb-4">{{profiles_owner.username}}</h5>
                <p class="text-muted fz-base">{{profiles_owner_bio.bio}}</p>
            {%if user == profiles_owner %}
                <a class="btn btn-outline-primary" href="{% url 'profileupdate' %}">EDIT PROFILE</a>
            {%endif%}
            </div>
        </div>
        <!-- /.profile-info-brief -->
        <hr class="m-0">
        <div class="hidden-sm-down">
            <hr class="m-0">
            <div class="profile-info-contact p-4">
                <h6 class="mb-3">Contact Information</h6>
                <table class="table">
                    <tbody>
                        <!--<tr>
                            <td><strong>URL:</strong></td>
                            <td>
                                <p class="text-muted mb-0">Rathemes.com/inde.html</p>
                            </td>
                        </tr>-->
                        <tr>
                            <td><strong>EMAIL:</strong></td>
                            <td>
                                <p class="text-muted mb-0">{{profiles_owner.email}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>PHONE:</strong></td>
                            <td>
                                <p class="text-muted mb-0">{{profiles_owner_bio.phone}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.profile-info-general -->
            <hr class="m-0">
        </div> 
        <!-- /.hidden-sm-down -->
    </div>
    <!-- /.profile-section-user -->
    <div class="profile-section-main">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile-overview" role="tab">Posts</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-friends" role="tab">Friends</a></li>
            {%if request.user == profiles_owner%}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-requests" role="tab">Requests</a></li>
            {%endif%}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-likes" role="tab">Likes</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-comments" role="tab">Comments</a></li>
        </ul>
        <!-- /.nav-tabs -->
        <!-- Tab panes -->
        
        <div class="tab-content profile-tabs-content">
            <div class="tab-pane fade" id="profile-likes" role="tabpanel" aria-labelledby="home-tab">
            {% for item in users_likes %}
            <div class="stream-post">
                        <div class="sp-author ">
                            <a href="#" class="sp-author-avatar"><img src="{{item.post.user.profile.profile_image.url}}" alt=""></a>
                            <h6 class="sp-author-name"><a href="{% url 'profile' item.post.user.profile.slug%}">{{item.post.user.username}}</a></h6>
                             {%if item.post in user_liked_post%}
                            <a class="btn " id="li{{item.post.id}}"  style="color:#4267B2;"><i class="fa fa-thumbs-up "></i> {{item.post.likes.count}}</a>
                            {%else%}
                            <a class="btn " id="li{{item.post.id}}"><i class="fa fa-thumbs-up "></i> {{item.post.likes.count}}</a>
                            {%endif%}
                       {% if item.post|has_comment:request.user == "yes"%}
                            <a class="btn " id="li{{item.post.id}}" style="color:#4267B2;"><i class="fa fa-comment " ></i> {{item.post.post_comments.count}}</a>
                            {%else%}
                                <a class="btn " id="li{{item.post.id}}"><i class="fa fa-comment "></i> {{item.post.post_comments.count}}</a>
                            {% endif %}
                            </div>
                        <div class="sp-content" onclick="location.href='{% url 'detailed-post' item.post.user.profile.slug item.id%}'">
                            <div class="sp-info">posted {{item.post.date_posted | timesince}} ago</div>
                     
                            <p class="sp-paragraph mb-0 text-justify ">{{item.post.post}}</p>
                            
                        </div>
                        <!-- /.sp-content -->
                        <div class="mt-3">
                        {%if item.post in user_liked_post%}
                            <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.post.id}}">unlike</button>
                         {%else%}
                         <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.post.id}}">like</button>
                          {%endif%}
                          
                            <a href="{% url 'detailed-post' item.post.user.profile.slug item.post.id%}" class="btn btn-outline-primary">comment</a>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile-comments" role="tabpanel" aria-labelledby="home-tab">
{% with profiles_owner_comments=profiles_owner.comments.all %}
{%for item in profiles_owner_comments reversed%}
<div class="p-3 mb-2 bg-light">
    <div class="p-3 mb-2 bg-white text-dark">"{{item.comment_made}}"</div>
            <div class="stream-post">
                       
                        <div class="sp-author ">
                            <a href="#" class="sp-author-avatar"><img src="{{item.post.user.profile.profile_image.url}}" alt=""></a>
                            <h6 class="sp-author-name"><a href="{% url 'profile' item.post.user.profile.slug%}">{{item.post.user.username}}</a></h6>
                             {%if item.post in user_liked_post%}
                            <a class="btn " id="li{{item.post.id}}"  style="color:#4267B2;"><i class="fa fa-thumbs-up "></i> {{item.post.likes.count}}</a>
                            {%else%}
                            <a class="btn " id="li{{item.post.id}}"><i class="fa fa-thumbs-up "></i> {{item.post.likes.count}}</a>
                            {%endif%}
                       {% if item.post|has_comment:request.user == "yes"%}
                            <a class="btn " id="li{{item.post.id}}" style="color:#4267B2;"><i class="fa fa-comment " ></i> {{item.post.post_comments.count}}</a>
                            {%else%}
                                <a class="btn " id="li{{item.post.id}}"><i class="fa fa-comment "></i> {{item.post.post_comments.count}}</a>
                            {% endif %}
                            </div>
                        <div class="sp-content" onclick="location.href='{% url 'detailed-post' item.post.user.profile.slug item.post.id%}'">
                            <div class="sp-info">posted {{item.post.date_posted | timesince}} ago</div>
                     
                            <p class="sp-paragraph mb-0 text-justify ">{{item.post.post}}</p>
                            
                        </div>
                        <!-- /.sp-content -->
                        <div class="mt-3">
                        {%if item.post in user_liked_post%}
                            <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.post.id}}">unlike</button>
                         {%else%}
                         <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.post.id}}">like</button>
                          {%endif%}
                          
                            <a href="{% url 'detailed-post' item.post.user.profile.slug item.post.id%}" class="btn btn-outline-primary">comment</a>
                        </div>
                        <!--commentssssss-
                        <div class="sp-author ">
                            <a href="#" class="sp-author-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""></a>
                            <h6 class="sp-author-name"><a href="{% url 'profile' item.post.user.profile.slug%}">{{item.post.user.username}}</a></h6>
                            
                            <a class="btn " id="li{{item.post.id}}"  style="color:#4267B2;"><i class="fa fa-thumbs-up "></i> {{item.comment_made}}</a>                     
                            </div>-->
                             
                    </div>
                 </div>  
{%endfor%}
{%endwith%}
</div>
            <div class="tab-pane fade" id="profile-requests" role="tabpanel" aria-labelledby="home-tab">
            {%for item in users_requests%}
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{item.sent_to.profile.profile_image.url}}" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-4 col-sm-4">
                    {% if item.sent_from == user%}
                        <h5><a href="#" class="profile-link">{{item.sent_to}}</a></h5>                                                         {%else%}
                        <h5><a href="#" class="profile-link">{{item.sent_from}}</a></h5>
                    {%endif%}
                  </div>
                  {% if item.sent_from == user%}
                  <div class="col-md-6 col-sm-6">
                    <button class="cbtn btn-outline-danger btn pull-right" id="c1{{item.sent_to.username}}">Cancel request</button>
                  </div>
                  {%else%}
                    <div class="col-md-6 col-sm-6">
                    <button class="abtn btn-success btn pull-left" id="a1{{item.sent_from.username}}">Accept</button>
                    <button class="dbtn btn-danger btn pull-right " id="d1{{item.sent_from.username}}">Decline</button>
                  </div>             
                  {%endif%}
                </div>
              </div>
            </div>
    	</div>
	</div>
{%endfor%}
            </div>
            <div class="tab-pane fade" id="profile-friends" role="tabpanel" aria-labelledby="home-tab">
            
            <div class="container-fluid">
{%for item in friends%}
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{item.user.profile.profile_image.url}}" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-4 col-sm-4 ml-3">
                    <h5><a href="{% url 'profile' item.user.profile.slug%}" class="profile-link">{{item.user.username}}</a></h5>                                        
                  </div>
                  {%if item.user == user%}
                  {%elif item.user in auth_user_friends_users%}
               <!--   <div class="col-md-6 col-sm-6 ">
                    <h6 class="mb-3 text-muted">friends</h6>
                  </div>                -->
                  
                  {%elif item.user in users_requests_already_sent%}
                  <div class="col-md-6 col-sm-6">
                    <button class="cbtn btn-outline-danger btn pull-right" id="c2{{item.user.username}}">Cancel request</button>
                  </div>
                  {%elif item.user in users_requests_already_recieved%}
                  <div class="col-md-6 col-sm-6">
                    <button class="abtn btn-success btn pull-right" id="a2{{item.user.username}}">Accept</button>
                    <button class="dbtn btn-danger btn pull-right " id="d2{{item.user.username}}">Decline</button>
                  </div> 
                  {%else%}
                  <div class="col-md-6 col-sm-6">
                    <button class="sbtn btn-primary btn pull-right" id="ad{{item.user.username}}">Add Friend</button>
                  </div>
                  {%endif%}
                </div>
              </div>
            </div>
    	</div>
	</div>
{%endfor%}
</div>
            </div>
            <div class="tab-pane active" id="profile-overview" role="tabpanel">
                <!-- /.post-editor -->
                <div class="stream-posts">
{%for item in posts%}
                   <div class="stream-post">
                        <div class="sp-author ">
                            <a href="#" class="sp-author-avatar"><img src="{{item.user.profile.profile_image.url}}" alt=""></a>
                            <h6 class="sp-author-name"><a href="{% url 'profile' item.user.profile.slug%}">{{item.user.username}}</a></h6>
                             {%if item in user_liked_post%}
                            <a class="btn " id="li{{item.id}}"  style="color:#4267B2;"><i class="fa fa-thumbs-up "></i> {{item.likes.count}}</a>
                            {%else%}
                            <a class="btn " id="li{{item.id}}"><i class="fa fa-thumbs-up "></i> {{item.likes.count}}</a>
                            {%endif%}
                            {% if item|has_comment:request.user == "yes"%}
                            <a class="btn " id="li{{item.id}}" style="color:#4267B2;"><i class="fa fa-comment " ></i> {{item.post_comments.count}}</a>
                            {%else%}
                                <a class="btn " id="li{{item.id}}"><i class="fa fa-comment "></i> {{item.post_comments.count}}</a>
                            {% endif %}
                            </div>
                        <div class="sp-content" onclick="location.href='{% url 'detailed-post' item.user.profile.slug item.id%}'">
                            <div class="sp-info">posted {{item.date_posted | timesince}} ago</div>
                     
                            <p class="sp-paragraph mb-0 text-justify ">{{item.post}}</p>
                            
                        </div>
                        <!-- /.sp-content -->
                        <div class="mt-3">
                        {%if item in user_liked_post%}
                            <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.id}}">unlike</button>
                         {%else%}
                         <button type="button" class="libtn btn btn-outline-primary" id="lk{{item.id}}">like</button>
                          {%endif%}
                          
                            <a href="{% url 'detailed-post' item.user.profile.slug item.id%}" class="btn btn-outline-primary">comment</a>
                            
                        </div>
                    </div>
                    
{%endfor%}                   
                <!-- /.stream-posts -->
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.profile-section-main -->
</div>
</div>
    
    <script type="text/javascript">
    $(document).ready(function(){
     $(document).on("click",".libtn",function(){
        //alert("elmIdd")
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        var like_count = $(`#li${elmIdd}`).text() ;
          
          
     //   var elmIddd = elmId.substring(1) ;
        
        $.ajax(
    {
        type:"GET",
        url: "{% url 'like-post' %}",
        data:{
                 id: elmIdd,             
        },
        success: function(data) 
        {
            if (data == "liked") {
  alert("liked");
  like_count=Number(like_count) + 1;
  $( `#li${elmIdd}`).html(`<i class="fa fa-thumbs-up"></i> ${String(like_count)}`);
  $( `#li${elmIdd}`).css({
                    color: "#4267B2"
                });
   $(`#${elmId}`).text("unlike") ;
   
} else {
  alert("not liked");
  like_count=Number(like_count) - 1 ;
  $( `#li${elmIdd}`).html(`<i class="fa fa-thumbs-up"></i> ${String(like_count)}`);
  $(`#li${elmIdd}`).css({
                    color: "#000000"
                });
    $(`#${elmId}`).text("like") ;
}

        }
    });
        });
    $(document).on("click",".dbtn",function(){
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        var elmIddd = elmId.substring(1) ;
        
        $.ajax(
    {
        type:"GET",
        url: "{% url 'decline-request' %}",
        data:{
                 username: elmIdd,             
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<h6 class="mb-3 text-danger">Request Declined</h6>`)
            $( `#a${elmIddd}`  ).remove()

        }
     })        
    });
    $(document).on("click",".abtn",function(){
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        var elmIddd = elmId.substring(1) ;
        
        $.ajax(
    {
        type:"GET",
        url: "{% url 'accept-request' %}",
        data:{
                 username: elmIdd,             
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<h6 class="mb-3 text-success">Request Accepted</h6>`)
            $( `#d${elmIddd}`  ).remove()
        }
     })        
    });
    $(document).on("click",".sbtn",function(){
        var elmId = $(this).attr("id");
        var elmIdd = elmId.substring(2) ;
        
        $.ajax(
    {
        type:"GET",
        url: "{% url 'send-request' %}",
        data:{
                 username: elmIdd,             
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<button class="cbtn btn-outline-danger btn pull-right" id=c3${elmIdd} >Cancel request</button>`)
        }
     })        
    });
    $(document).on("click",".cbtn",function(){
      var elmId = $(this).attr("id");
      var elmIdd = elmId.substring(2) ;
        
        $.ajax(
    {
        type:"GET",
        url: "{% url 'cancel-request' %}",
        data:{
                 username: elmIdd,               
        },
        success: function() 
        {
            $( `#${elmId}`  ).replaceWith(`<button class="sbtn btn-primary btn pull-right" id=ad${elmIdd}>Add Friend</button>`)
        }
     })    
        });
})
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
